@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color1: rgb(41, 45, 252);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'poppins';
    overflow-x: hidden;
}

header {
    padding: 10px;
    margin-bottom: 20px;
    background-color: var(--color1);
    color: white;
}

header h1 {
    margin-left: 2vw;
}

main {
    
}

main p {
    font-size: 20px;
    padding: 5px;
}

main mark {
    color: white;
    background-color: var(--color1);
    padding: 2px;
}

.conteudo {
    padding: 3em;
    margin: 5px;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 20px;
    margin-bottom: 50px;
}

#cont1 {
    margin-top: 40px;
}

#cont2 {
    background-color: var(--color1);
    border-radius: 5px;
    color: white;
    box-shadow: 10px 10px black;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom:43px;
}

#cover {
    width: 100vw;
    height: 25vh;
    padding-top: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    background-color: var(--color1);
}

#cont3 {
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}

.column {
    width: 74vw;
}

.panel {
  background-color: var(--color1);
  font-size: 20px;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 3px;
  cursor: pointer;
  color: white;
}


#cont4, #cont5, #cont6 {
    border: 2px solid black;
}
